#about{
	padding:20px 20px 100px;
}
#aboutme{
	font-size:1.5em;
}
#about #quote{
	text-align:center;
	font-size:2em;
	
}
#about img{
	border:1px solid silver;
	position:relative;
	padding:5px;
	background-color:white;
}
#about #pic1{
	float:right;
	margin-left:30px;
	width:350px;
}
#about #pic2{
	float:left;
	margin-bottom:30px;
	margin-right:30px;
	width:250px;
}
#about #pic1 img{
	width:100%;
}
#about #pic2 img{
	width:100%;
}
#about .caption{
	padding: 15px;
	display: block;
	margin: 5px auto;
	font-size: 0.8em;
	background-color: white;
	border: 1px solid silver;
}
#about #pic1 .caption{
	width: 330px;
}
#about #pic2 .caption{
	width: 230px;
}
#about div{
	
}
#about div p{
	font-size:0.95em;
}