#books{
	margin:0px;
	padding:30px 10px 30px;
	height:150px;
	position:relative;
}
#books li{
	width:80px;
	padding:10px;
	margin:5px;
	cursor:pointer;
	list-style-type:none;
	float:left;
	z-index:10;
	position:relative;
	opacity:0.6;
}
#books li.viewfinder{
	position: absolute;
	left: 0px;
	top: 20px;
	height: 140px;
	background-color: white;
	border:1px solid #191941;
	width: 100px;
	z-index:5;
}
#books li img{
	width:100%;
}
#books li.selected{
	opacity:1;
}
.showcase{
	display:none;
}
.showcase .sc-left{
	display:inline-block;
	margin:0px 0px 30px 0px;
	width: 400px;
	position:relative;
}
.showcase .sc-left img{
	width:332px;
	padding:5px;
	background-color:white;
	border:1px solid #333;
	display:block;
	margin:0px auto;
}
.showcase .sc-right{
	vertical-align:top;
	display:inline-block;
	text-align:center;
	width:430px;
	margin:0px 0px 0px 30px;
}
.showcase .description{
	padding:20px;
	border: 1px solid grey;
	background-color:whiteSmoke;
	position:relative;
}
.showcase .description h3{
	font-weight: bold;
	font-size: 1.5em;
	width: 450px;
	position: absolute;
	background-image: url('../images/old-paper-texture.jpg');
	background-size: 450px 80px;
	left: -11px;
	padding: 5px 0px;
	height: 70px;
	line-height: 70px;
	z-index: 10;
}
.showcase .description h3.double{
	line-height: 35px;
}
.showcase .description h3:before{	
	border-color: transparent #7f3d00 #7f3d00 transparent;
	border-style:solid;
	border-width:4px;
	width:0;
	height:0;
	position:absolute;
	content:"";
	left:2px;
	top:-8px;
	z-index:-10;
}
.showcase .description h3:after{	
	border-color: transparent transparent #7f3d00 #7f3d00;
	border-style:solid;
	border-width:4px;
	width:0;
	height:0;
	position:absolute;
	content:"";
	right:2px;
	top:-8px;
	z-index:-10;
}
.showcase .description h3 span{
	font-weight:normal;
	font-size:0.9em;
}
.showcase .description p{
	text-align:left;
	margin-top:100px;
}
.showcase .amazon-button{
	display:inline-block;
	margin-top: 10px;
}